@font-face {
    font-family: 'Levi Windows';
    src: url('Levi\ Windows.ttf');
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(rgb(12, 175, 175), rgb(89, 89, 255));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

* {
    font-family: 'Levi Windows', monospace;
}

#app {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#menu {
    position: absolute;
    left: 2px;
    display: none;
    width: 18%;
    height: 50%;
    bottom: 5%;
    background: #c1c1c1;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

#menu-items {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 0.1rem;
    padding-left: 0.1rem;
    padding-right: 0.2rem;
}

#menu-sidebar {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background: navy;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    width: 20%;
    padding-top: 1rem;
    background-image: linear-gradient(blue, navy);
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}

.menu-item>.fas {
    font-size: 1.5em;
}

.menu-item span {
    margin-left: 0.5rem;
}

.menu-item:hover {
    background: navy;
    color: white;
    cursor: pointer;
}

#switcher {
    margin: 0;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    height: 4%;
    width: 100%;
    background: #c1c1c1;
    display: flex;
    align-items: center;
    padding: 0.1rem;

}

#switcher button {
    margin: 0.1rem;
}

#term input[type='text'] {
    background-color: inherit;
    outline: none;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

button {
    padding: 0.2rem;
    box-sizing: border-box;
    background: #c0c0c0;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border: none;
    user-select: none;
}

button:active {
    border: 2px solid #303030;
    box-shadow: none;
}

#switcher button.task-button {
    box-shadow: none;
    border: 2px solid #777777;
    background: rgba(255, 255, 255, 0.4);
}

#switcher button.task-button:hover {
    background: rgba(255, 255, 255, 0.6);
}

#switcher button.task-button.active {
    border: 2px solid #303030;
    background: rgba(255, 255, 255, 0.2);
}

.window-frame {
    padding: 1rem;
    background: #bbbbbb;
    border-top: none;
    box-sizing: border-box;
}

.window-frame.terminal-frame {
    display: flex;
    flex-direction: column;
    background: #000000;
    color: #ffffff;
    padding: 0;
    height: 100%;
}

.window-frame.notepad-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
}

.window-frame.calculator-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
}

.window-frame.browser-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 0;
    height: 100%;
    width: 100%;
}
.browser-frame > .window-actions {
    font-size: 1.2rem;
    height: 2rem;
}

.window-frame.mines-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
}

.mines-frame > .window-actions {
    border-bottom: 2px solid slategray;
}

.mine-grid {
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mine-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mine-tile {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0.15em;
}

.window-actions > span {
    display: flex;
    justify-content: center;
}

.browser-field:focus {
    outline: none;
}
.window-actions > .browser-field {
    width: 100%;
    margin: 0;
    font-size: 1rem;
}

.ie-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
    justify-content: center;
    background: #c1c1c1;
}

.paint-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 100%;
    justify-content: center;
    background: #ffffff;
}

.calc-field {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    grid-column: span 4;
    margin: 0 !important;
}

.calc-equals {
    grid-column: span 4;
}

.calc-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5rem;
    padding: 10px;
}

.calc-items button {
    font-size: 2rem;
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}

.notepad {
    border-radius: 0;
    box-sizing: border-box;
    resize: none;
    font-family: monospace;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 0.8rem;
}

.notepad:focus {
    outline: none;
}

.window.maximized {
    width: 100%;
    height: 96%;
    box-shadow: none;
    box-sizing: border-box;
    margin: 0;
}

.window-actions {
    width: 100%;
    height: 3ch;
    display: flex;
    align-items: center;
}

.window-action-button {
    cursor: pointer;
    padding: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin: 0;
    user-select: none;
}

.window-action-button:not(:last-child) {
    margin-right: 0.2rem;
}

.window-action-button:hover {
    background: rgba(255, 255, 255, 0.4);
}


.window-titlebar {
    height: 3ch;
    background-image: linear-gradient(to right, navy, blue);
    width: 100%;
    display: flex;
    box-shadow: inset -2px 0 0 #888888, inset 0 -2px 0 #888888, inset 2px 0 0 #888888, inset 0 2px 0 #888888;
    justify-content: space-between;
    align-content: space-between;
    text-overflow: ellipsis;
}

.window-titlebar-name {
    color: white;
    background: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0.5em;
    user-select: none;
}

.window-titlebar-buttons {
    display: flex;
    background: transparent;
    user-select: none;
}

.window-titlebar-buttons button {
    padding: 0.2rem;
    flex-basis: 100%;
    min-width: 3ch;
}

#switcher-clock {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    font-size: 0.8em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    align-items: center;
    cursor: pointer;
}

#desktop {
    display: grid;
    position: absolute;
    left: 2%;
    top: 3%;
    grid-template-rows: repeat(auto-fit, 3em);
    grid-auto-flow: column;
    grid-auto-columns: 3em;
    grid-gap: 2rem;
    user-select: none;
    height: 88%;
}

.desktop-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 4em;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    text-overflow: ellipsis;
}

.desktop-item.selected {
    background: rgba(0, 0, 128, 0.4);
}

.desktop-item:hover>.desktop-label {
    color: #ffffff;
}

.desktop-item:hover:not(.selected) {
    background: rgba(255, 255, 255, 0.2);
}

.desktop-item.selected:hover {
    background: rgba(0, 0, 128, 0.2);
}

.desktop-icon {
    font-size: 2em;
}

.desktop-label {
    color: #dddddd;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000000;
    text-align: center;
}

@keyframes minimize {
    to {
        transform: scale(0.7) translate(-50vw, 120vh);
    }
}

@keyframes restore {
    from {
        transform: scale(0.7) translate(-50vw, 120vh);
    }

    to {
        transform: scale(1) translate(0, 0);
    }
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes die {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

input[type='text'] {
    background: white;
    border: 2px inset gray;
    margin-left: 1rem;
    margin-right: 1rem;
}